<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>
<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow p-4">

        <h1 class="text-center mb-4">
            🔗 URL Shortener
        </h1>

        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Enter Long URL</label>

                <input type="text"
                       name="url"
                       class="form-control"
                       placeholder="https://example.com"
                       required>
            </div>

            <button class="btn btn-primary">
                Shorten URL
            </button>

        </form>

        {% if short_url %}

        <div class="alert alert-success mt-4">

            <strong>Shortened URL:</strong>

            <input type="text"
                   id="shortURL"
                   class="form-control mt-2"
                   value="{{ short_url }}"
                   readonly>

            <button onclick="copyURL()"
                    class="btn btn-success mt-2">
                Copy URL
            </button>

        </div>

        {% endif %}

        {% if error %}

        <div class="alert alert-danger mt-3">
            {{ error }}
        </div>

        {% endif %}

        <a href="/history" class="btn btn-dark mt-3">
            View History
        </a>

    </div>

</div>

<script>

function copyURL() {

    const copyText = document.getElementById("shortURL");

    copyText.select();
    copyText.setSelectionRange(0, 99999);

    navigator.clipboard.writeText(copyText.value);

    alert("Copied Successfully!");
}

</script>

</body>
</html>